<%- include('partials/head')%>
<head>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="\public\css\adopt.css">
</head>
  <body>
    <main role="main">
            <div class="nav">
                <div class="nav-menu container">
                    <div>
                        <i class="fa-solid fa-paw fa-xl"></i>
                    </div>
                    <ul class="flex">
                        <li><a href="/" class="home hover">Home</a></li>
                        <li><a href="testimonial" class="hover">Testimonials</a></li>
                        <li><a href="#contact" class="hover">Contact</a></li>
                    </ul>
                    <div class="buttons">
                      <% if(!user) { %>
                        <a href="register"><button class="signUp" type="submit">SignUp</button></a>
                        <a href="login"><button class="login hover2" type="submit">Login</button></a>
                        <% } else { %>
                        <a href="logout"><button class="login hover2" type="submit">Logout</button></a>
                        <% } %>
                    </div>
                </div>
            </div>
        <section class="jumbotron text-center">
          <div class="container py-1">
            <a href="adoptCat" class="btn catBtn px-4 hover3 fs-4">
                <img src="\public\Images\catIcon.png" height="22px"
                width="22px">
                Cats</a>
            <a href="adoptDog" class="btn dogBtn selected px-4 mr-2 hover3 fs-4">
                <img src="\public\Images\dogIcon.png" height="25px"
                width="25px">
                Dogs</a>
          </div>
        </section>
  
        <div class="album py-5 bg-light">
          <div class="container">
            <% if (typeof data != 'undefined') {%>
              <% var c = 0; %>
              <% for(i in data) { %>
                <% if(data[i].adopted == 'no') { %>
                  <% if(c%4==0) { %>
                    <% if(c!=0 ) { %>
                      </div>
                    <% } %>
                    <div class="row mb-5">
                  <% } %>
                    <div class="col-md-3 cardNo<%=data[i].dogID%>"  onclick="location.href = 'template/dog/<%= data[i].dogID %>';">
                      <div class="card mb-4 me-3">
                        <img src="\public\Images\dog<%= data[i].dogID %>.jfif" class="card-img-top img">
                        <div class="card-body">
                          <h5 class="card-title"><%= data[i].Name %></h5>
                          <p class="card-text"><%= data[i].AgeGroup %>
                              <img src="\public\Images\period.png"/>
                              <%= data[i].Breed %></p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>
                    <% c=c+1; %>
                <% } %>
              <% } %>
               </div>
            <% } %>
            </div>
          </main>
      <%- include('partials/footer')%>
      <script src="https://kit.fontawesome.com/2d4e9f7759.js" crossorigin="anonymous"></script>
      <script src="\public\js\register.js"></script>
    </body>
</html>