<%- include('partials/head')%>
<head>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="\public\css\template.css">
</head>
<body>
    <div class="main">
      
      <div class="nav">
        <div class="nav-menu">
            <i class="fa-solid fa-paw fa-xl"></i>
            <ul class="flex">
                <li><a href="/" class="home hover">Home</a></li>
                <li><a href="testimonial" class="hover">Testimonials</a></li>
                <li><a href="#contact" class="hover">Contact</a></li>
            </ul>
            <div class="buttons">
                <% if(!user) { %>
                <a href="register"><button class="signUp" type="submit">SignUp</button></a>
                <a href="login"><button class="login hover2" type="submit">Login</button></a>
                <% } else { %>
                <a href="logout"><button class="login hover2" type="submit">Logout</button></a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="petDiv flex mb-3">
        <img class="petImg" src="\public\Images\<%=pet%><%=id%>.jfif">
        </div>

        <div class="main2">
        <div class="card c1 m-3">
            <div class="card-body">
              <h2 class="card-title mb-3"><%=Name%></h2>
              <h5 class="card-subtitle mb-2">
                <%=Breed%>
                <img src="\public\Images\period_grey.png">
                <%=City%>
              </h5>
              <hr>
              <p>
              <%=AgeGroup%> <img src="\public\Images\period.png">
                <%=Gender%> <img src="\public\Images\period.png">
                <%=Height%>
              </p>
              <hr>
              <div>
                <h3 class="card-title mb-3">About</h3>
                <h5 class="card-subtitle health mb-2">Health</h5>
                <p class="card-text"><%=Health%></p>
              </div>
              <hr class="mb-4">
              <img src="\public\Images\bell.png">
              <p class="card-subtitle fst-italic rec">Petlify recommends that you should always have prior knowledge about the pet breed before adopting.</p>
            </div>
          </div>
          <div class="flex flex-dr me-4">
          <div class="card c2 mb-2 p-3">
            <div class="iconc">
            <img src="\public\Images\asset 13.svg" height="30px">
            <h2 class="card-title dogfact mx-3"><%=pet%> fact</h2> </div>
            <% if(pet == 'dog') {%>
              <p class="mt-3" id="apiParaDog"></p>
            <% } else { %>
              <p class="mt-3" id="apiParaCat"></p>
            <% } %>
          </div>
           <button type="submit" onclick="location.href = '<%=id%>/adoptForm';" class="adoptBtn btn hover2">Adopt</button>
        </div>
        </div>
    </div>

    <%- include('partials/footer')%>
</div>
<script src="/server.js"></script>
<script src="/public/js/fetch.js"></script>
<script src="https://kit.fontawesome.com/2d4e9f7759.js" crossorigin="anonymous"></script>
</body>
</html>